
<div>
    <h2>Welcome to our store</h2>
    <a href="http://localhost:8080/register">Register</a>
    <br>
    <a href="http://localhost:8080/login">Log in</a>
    <br>
    <a href="http://localhost:8080/profile">Profile</a>
    <br>
    <a href="http://localhost:8080/products"> Products list</a>
</div>